@import url("totop.css");

h1{
    text-align: center;
}
div.header a{
    font-style: italic;
}
img{
    max-width: 100%;
    margin: 5px 2px 0px 2px;
    text-align:center;
}
div.header a{
    font-style: italic;
}
div.footer{
    background:silver; 
}
div.tags{
    padding:8px 0px;
}
div.tags a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black;
    background-color: aqua;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    padding : 1px 5px;
    border-radius: 5px 5px 5px 5px;
}
div.tags b{
    text-decoration: underline;
    color: black;
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    padding : 1px 5px;
    border-radius: 5px 5px 5px 5px;
}
input[type="button"]{
    margin: 5px 2px 0px 2px;
}